@charset "utf-8";

input{
 	border: none;
 	border-bottom: 1px solid #FFF;
 	background-color:lightcyan;
 	font-size:10px;
 }

input[type="submit"]{
	background-color:green;
}

input[type="tel"]{
	background-color:blue;
	width: 50px;
}


option{
 	background-color:blue;
 }

textarea{
 	font-size: 8px;
}